.main{
    margin-top: 50px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h1{
    position: relative;
    /* left: 250px; */
}

#tSchedule{
    position: relative;
    /* left: 350px; */
    
    border: 1px solid black;
    border-spacing: 10px;
    border-collapse: separate;
    box-shadow: 5px 10px gray;
}

#ScheduleTitle, #DisplayTitle{
    font-style: italic;
    color: cadetblue;
    font-weight: normal;
    text-decoration: underline;

}

#tSchedule td {
    padding: 8px;
}


#legend{
    font-size: 30px;
    font-weight:lighter
}

tbody{
    font-size: 25px;
}

/* #DisplayTitle {
    right: 350px;
} */

#container {
    display: flex;
    justify-content: space-evenly;
    
}


#box1 {
    border-radius: 5px;
    margin: 5px;
    float: left;
    order: 1;
    cursor: pointer;
}


#box2 {
    border-radius: 5px;
    margin: 5px;
    float: right;
    order: 2;
}

#DisplayTitle{
    padding-left: 8px;
}

#previewMap {
    border: 1px solid black;
    box-shadow: 5px 10px gray;
    margin: 8px;
    /* position: relative;
    right: 350px; */
    height: 337px;
    width: 525px;
}


