.main{
    margin-top: 50px;
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h1{
    position: relative;
    left: 250px;
}

#tSchedule{
    position: relative;
    left: 350px;
    
    border: 1px solid gray;
    border-spacing: 10px;
    border-collapse: separate;
    box-shadow: 5px 10px gray;
}


#tSchedule td {
    padding: 8px;
}


#legend{
    font-size: 30px;
    font-weight:lighter
}

tbody{
    font-size: 25px;
}

#DisplayTitle {
    right: 350px;
}


#box1 {
    border-radius: 5px;
    padding: 0px 10px 10px 20px;
    margin: 5px;
    float: left;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
}


#box2 {
    border-radius: 5px;
    padding: 0px 10px 10px 20px;
    margin: 5px;
    float: right;
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}


#previewMap {
    /* position: relative;
    right: 350px; */
    height: 337px;
    width: 525px;
}


