.navBarTable{
    background-color: black;
    height: 100px;
    width: 100%;
}

.navButton{
    border-collapse: collapse;
    border:solid 1pt rgb(69, 81, 148);
    width: 560px;
    
}

#button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    background-color: rgb(58, 79, 201);
    width: 100%;
    height: 120px;
}

th{
    font-size: 30px;
    color: white;
    text-align: center;
    width: 350px;
}

#logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
