<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccountAdmin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/accountAdminPageStyle.css">
    <link rel="stylesheet" href="/css/navigationBarStyle.css">
</head>
<body>
    <div class="navBar">
        <table class="navBarTable">
            <tr>
                <th>ChronoPlanner</th>
                <td class="navButton">
                    <div>
                        <button type="button" th:onclick="|window.location.href='/home'|" id="button">Home</button>
                    </div>
                </td>
                <td class="navButton">
                    <div>
                        <button type="button" th:onclick="|window.location.href='/calendar'|" id="button">Schedule</button>
                    </div>
                </td>
                <td class="navButton">
                    <div>
                        <button type="button" th:onclick="|window.location.href='/display'|" id="button">Display</button>
                    </div>
                </td>     
                <!-- <td class="navButton">
                    <div>
                        <button type="button" id="button">Feature 5</button>
                    </div>
                </td> -->
                <td class="navButton">
                    <div>
                        <button type="button" th:onclick="|window.location.href='/account'|" id="button">Account</button>
                    </div>
                </td>
                
            </tr>
        </table>
    </div>
    <div class="main">
        <table class="accButtonTable">
            <tr class="rowName">
                User Accounts
            </tr>

            <tr th:each ="user,rStat:${us}" th:if="${rStat.count} &gt; 1">
                <td th:text="${user.email}" class="userEmail"></td>
                <div></div>
                <td>
                    <a th:href="@{'/delete/{uid}'(uid=${user.uid})}"
                    class="btn btn-danger" 
                    id="deleteButton" 
                    role="button">
                    DELETE
                    </a>
                </td>
            </tr>

            <tr>
                <td class="logoutContainer">
                    <button type="button" th:onclick="|window.location.href='/logout'|" id="logoutButton">Log Out</button>
                </td>
            </tr>

            
        </table>
    </div>
</body>
</html>