<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/loginPageStyle.css">
</head>
<body>
    <img src="/img/ChronoPlannerLogo.png" id="logo" height="300px">
    <div class="container">

        <h1>Login</h1>
        <form th:action="@{/view/loginUser}" th:object="${us}" method="post" id="loginForm">
            <!-- Email -->
            <div>
                <input type="text" 
                id="emailForm" 
                class="form-control form-control-lg" 
                th:field="*{email}"
                placeholder="Email/Username" 
                required
                title="Check White Spaces (Start/End)"
                >
            </div>

            <!-- Password -->
            <div>
                <input type="password" 
                id="passwordForm" 
                class="form-control form-control-lg" 
                th:field="*{password}"
                placeholder="Password" 
                required 
                title="Check White Spaces (Start/End)"
                >
            </div>

            <!-- Login Button-->
            <div>
                <input class="btn btn-secondary" 
                    id="loginButton" 
                    type="submit" 
                    value="Login"
                    style="border-radius: 50px; width: 300px;">
                </input>
            </div>

        </form>

        <a href="/view/register">&rarr;Register&larr;</a>

    </div>


    
</body>
</html>