<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/sharePageScript.js" defer></script>
</head>
<body>
    <table id="tSchedule">
        <thead>
            <tr>
                <td id="legend">TODO</td>
                <td id="legend">Time</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <input type="hidden" id="shareUid" name="shareUid" th:value="${shareUid}"/>

</body>
</html>
